html {
  height: 100%;
  overflow: hidden;
  background: transparent !important;
}

body {
  width: 100%;
  height: 100%;
  position: absolute;
  white-space: nowrap;
  margin:0;
  background: url(../assets/images/bg_glass.svg);
  background-size: cover;
  // backdrop-filter: blur(10px) opacity(80%);
}

#root {
  width: 100%;
  height: 100%;
  position: absolute;
  white-space: nowrap;
}
