.layout {
  &-title-bar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    // border-bottom: 1px solid #ddd;
    -webkit-app-region: drag;
    display: flex;
    .appicon {
      width: 35px;
      height: 100%;
      position: relative;
      z-index: 3000;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20t%3D%221575543611169%22%20class%3D%22icon%22%20viewBox%3D%220%200%201024%201024%22%20version%3D%221.1%22%20%0A%20%20%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20p-id%3D%2217851%22%20width%3D%2218%22%20height%3D%2218%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M512%20665.998222L1.024%20361.813333%20512%2057.628444l510.976%20304.184889z%22%20p-id%3D%2217852%22%20fill%3D%22%231296db%22%3E%3C%2Fpath%3E%0A%20%20%20%20%3Cpath%20d%3D%22M959.146667%20494.08l-63.886223%2039.651556L512%20758.613333l-447.146667-264.533333-63.829333%2039.651556L512%20837.973333l510.976-304.184889z%22%20p-id%3D%2217853%22%20fill%3D%22%231296db%22%3E%3C%2Fpath%3E%0A%20%20%20%20%3Cpath%20d%3D%22M959.146667%20679.253333l-63.886223%2039.651556L512%20943.786667v6.599111l-447.146667-264.533334-63.829333%2033.109334L512%201023.089778l510.976-304.184889z%22%20p-id%3D%2217854%22%20fill%3D%22%231296db%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E");
      background-repeat: no-repeat;
      background-position: center;
      flex-shrink: 0;
    }
    .menu {
      height: 30px;
      flex-shrink: 1;
    }
    .window-title {
      flex: 1;
      height: 30px;
      line-height: 30px;
      font-size: 12px;
      box-sizing: border-box;
      padding: 0 5px;
      -webkit-user-select: none;
    }
    .window-control {
      width: 138px;
      height: 30px;
      display: flex;
      -webkit-app-region: no-drag;
      i {
        flex: 1;
        display: block;
        height: 30px;
        &:hover {
          background-color: #e6e6e6;
        }
        &:active {
          background-color: #cccccc;
        }
        &.minimize {
          background-position: center;
          background-repeat: no-repeat;
          background-image: url('data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22icon%2F1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cpolygon%20fill%3D%22%23262834%22%20fill-rule%3D%22nonzero%22%20points%3D%226%2013%2018%2013%2018%2012%206%2012%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
        }
        &.maximize {
          background-position: center;
          background-repeat: no-repeat;
          background-image: url('data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20version%3D%221.1%22%20%0A%20%20%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20%0A%20%20%20%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Crect%20stroke%3D%22%23000000%22%20x%3D%224.5%22%20y%3D%224.5%22%20width%3D%2211%22%20height%3D%2211%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
        }
        &.unmaximize {
          background-position: center;
          background-repeat: no-repeat;
          background-image: url('data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22icon%2F2%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23262834%22%20fill-rule%3D%22nonzero%22%20d%3D%22M5.5%2C7.5%20L16.5%2C7.5%20L16.5%2C18.5%20L5.5%2C18.5%20L5.5%2C7.5%20Z%20M6.5%2C8.5%20L6.5%2C17.5%20L15.5%2C17.5%20L15.5%2C8.5%20L6.5%2C8.5%20Z%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%3Cpolygon%20fill%3D%22%23262834%22%20fill-rule%3D%22nonzero%22%20points%3D%228.5%206.5%2017.5%206.5%2017.5%2015.5%2016.0664062%2015.5%2016.0664062%2016.5%2018.5%2016.5%2018.5%205.5%207.5%205.5%207.5%208.12011719%208.5%208.12011719%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
        }
        &.close {
          background-position: center;
          background-repeat: no-repeat;
          background-image: url('data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22icon%2F3%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cpolygon%20fill%3D%22%23262834%22%20fill-rule%3D%22nonzero%22%20points%3D%226.69669914%207.90380592%2016.5961941%2017.8033009%2017.3033009%2017.0961941%207.40380592%207.19669914%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%20%20%20%20%3Cpolygon%20fill%3D%22%23262834%22%20fill-rule%3D%22nonzero%22%20points%3D%2216.5961941%207.19669914%206.69669914%2017.0961941%207.40380592%2017.8033009%2017.3033009%207.90380592%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
          &:hover {
            background-color: #e81123;
            background-image: url('data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22icon%2F3%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cpolygon%20fill%3D%22%23ffffff%22%20fill-rule%3D%22nonzero%22%20points%3D%226.69669914%207.90380592%2016.5961941%2017.8033009%2017.3033009%2017.0961941%207.40380592%207.19669914%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%20%20%20%20%3Cpolygon%20fill%3D%22%23ffffff%22%20fill-rule%3D%22nonzero%22%20points%3D%2216.5961941%207.19669914%206.69669914%2017.0961941%207.40380592%2017.8033009%2017.3033009%207.90380592%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
          }
        }
      }
    }
  }
  &-container {
    position: absolute;
    top: 30px;
    height: calc(100% - 30px);
    width: 100%;
  }
  &-sidebar {
    position: absolute;
    left: 0;
    width: 40px;
    height: 100%;
    box-sizing: border-box;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-app-region: drag;
    .group {
      width: 40px;
      -webkit-app-region: no-drag;
      span {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 20px;
        &:hover{
          background-color: #e2e2e2;
        }
      }
    }
  }
  &-main {
    position: absolute;
    left: 40px;
    height: 100%;
    width: calc(100% - 40px);
  }
}
