.layout {
  &-title-bar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    // border-bottom: 1px solid #ddd;
    -webkit-app-region: drag;
    display: flex;
    .appicon {
      width: 35px;
      height: 100%;
      position: relative;
      z-index: 3000;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='256' height='256' viewBox='0 0 256 256' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='a' maskUnits='userSpaceOnUse' x='0' y='0' width='256' height='256'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M181.534 254.252a15.934 15.934 0 0 0 12.7-.488l52.706-25.361a16.002 16.002 0 0 0 9.06-14.42V42.018c0-6.15-3.522-11.754-9.06-14.42L194.234 2.238a15.939 15.939 0 0 0-18.185 3.097l-100.9 92.052-43.95-33.361a10.655 10.655 0 0 0-13.614.605L3.49 77.453c-4.648 4.227-4.653 11.54-.011 15.774L41.593 128 3.478 162.773c-4.642 4.235-4.637 11.547.011 15.775l14.097 12.822a10.655 10.655 0 0 0 13.613.606l43.95-33.362 100.9 92.053a15.915 15.915 0 0 0 5.485 3.585zm10.505-184.367L115.479 128l76.56 58.115V69.885z' fill='%23fff'/%3E%3C/mask%3E%3Cg mask='url(%23a)'%3E%3Cpath d='M246.94 27.638L194.193 2.241a15.947 15.947 0 0 0-18.194 3.092L3.324 162.773c-4.645 4.235-4.64 11.547.011 15.775L17.44 191.37a10.667 10.667 0 0 0 13.622.606l207.941-157.75c6.976-5.291 16.996-.316 16.996 8.44v-.612a16 16 0 0 0-9.059-14.416z' fill='%230065A9'/%3E%3Cpath d='M246.94 228.362l-52.747 25.397a15.95 15.95 0 0 1-18.194-3.092L3.324 93.227c-4.645-4.234-4.64-11.547.011-15.775L17.44 64.63a10.667 10.667 0 0 1 13.622-.605l207.941 157.748c6.976 5.292 16.996.317 16.996-8.44v.613a16.001 16.001 0 0 1-9.059 14.416z' fill='%23007ACC' filter='url(%23b)'/%3E%3Cpath d='M194.196 253.763A15.955 15.955 0 0 1 176 250.667c5.904 5.904 16 1.722 16-6.628V11.961c0-8.35-10.096-12.532-16-6.628a15.955 15.955 0 0 1 18.196-3.097L246.934 27.6A16 16 0 0 1 256 42.017v171.965a16 16 0 0 1-9.066 14.419l-52.738 25.361z' fill='%231F9CF0' filter='url(%23c)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M181.378 254.252a15.936 15.936 0 0 0 12.699-.488l52.706-25.362a16 16 0 0 0 9.061-14.419V42.018c0-6.15-3.522-11.754-9.06-14.42L194.077 2.238a15.939 15.939 0 0 0-18.185 3.096l-100.9 92.053-43.95-33.361a10.655 10.655 0 0 0-13.613.605L3.333 77.452c-4.648 4.228-4.653 11.54-.011 15.775L41.436 128 3.322 162.773c-4.642 4.235-4.637 11.547.011 15.775L17.43 191.37a10.655 10.655 0 0 0 13.614.606l43.95-33.362 100.899 92.053a15.919 15.919 0 0 0 5.486 3.585zm10.505-184.367L115.323 128l76.56 58.115V69.885z' fill='url(%23d)' style='mix-blend-mode:overlay' opacity='.25'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='b' x='-21.49' y='40.523' width='298.822' height='236.149' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='10.667'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='overlay' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3Cfilter id='c' x='154.667' y='-20.674' width='122.667' height='297.347' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='10.667'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='overlay' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='d' x1='127.844' y1='.66' x2='127.844' y2='255.34' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fff'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 16px;
      flex-shrink: 0;
    }
    .menu {
      height: 30px;
      flex-shrink: 1;
    }
    .window-title {
      flex: 1;
      height: 30px;
      line-height: 30px;
      font-size: 12px;
      box-sizing: border-box;
      padding: 0 5px;
      -webkit-user-select: none;
    }
    .window-control {
      width: 138px;
      height: 30px;
      display: flex;
      -webkit-app-region: no-drag;
      i {
        flex: 1;
        display: block;
        height: 30px;
        &:hover {
          background-color: #e6e6e6;
        }
        &:active {
          background-color: #cccccc;
        }
        &.minimize {
          background-position: center;
          background-repeat: no-repeat;
          background-image: url('data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22icon%2F1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cpolygon%20fill%3D%22%23262834%22%20fill-rule%3D%22nonzero%22%20points%3D%226%2013%2018%2013%2018%2012%206%2012%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
        }
        &.maximize {
          background-position: center;
          background-repeat: no-repeat;
          background-image: url('data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22icon%2F4%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M6%2C6%20L18%2C6%20L18%2C18%20L6%2C18%20L6%2C6%20Z%20M7%2C7%20L7%2C17%20L17%2C17%20L17%2C7%20L7%2C7%20Z%22%20id%3D%22%E7%9F%A9%E5%BD%A2%22%20fill%3D%22%23262834%22%20fill-rule%3D%22nonzero%22%3E%3C%2Fpath%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
        }
        &.unmaximize {
          background-position: center;
          background-repeat: no-repeat;
          background-image: url('data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22icon%2F2%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23262834%22%20fill-rule%3D%22nonzero%22%20d%3D%22M5.5%2C7.5%20L16.5%2C7.5%20L16.5%2C18.5%20L5.5%2C18.5%20L5.5%2C7.5%20Z%20M6.5%2C8.5%20L6.5%2C17.5%20L15.5%2C17.5%20L15.5%2C8.5%20L6.5%2C8.5%20Z%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%3Cpolygon%20fill%3D%22%23262834%22%20fill-rule%3D%22nonzero%22%20points%3D%228.5%206.5%2017.5%206.5%2017.5%2015.5%2016.0664062%2015.5%2016.0664062%2016.5%2018.5%2016.5%2018.5%205.5%207.5%205.5%207.5%208.12011719%208.5%208.12011719%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
        }
        &.close {
          background-position: center;
          background-repeat: no-repeat;
          background-image: url('data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22icon%2F3%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cpolygon%20fill%3D%22%23262834%22%20fill-rule%3D%22nonzero%22%20points%3D%226.69669914%207.90380592%2016.5961941%2017.8033009%2017.3033009%2017.0961941%207.40380592%207.19669914%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%20%20%20%20%3Cpolygon%20fill%3D%22%23262834%22%20fill-rule%3D%22nonzero%22%20points%3D%2216.5961941%207.19669914%206.69669914%2017.0961941%207.40380592%2017.8033009%2017.3033009%207.90380592%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
          &:hover {
            background-color: #e81123;
            background-image: url('data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22icon%2F3%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cpolygon%20fill%3D%22%23ffffff%22%20fill-rule%3D%22nonzero%22%20points%3D%226.69669914%207.90380592%2016.5961941%2017.8033009%2017.3033009%2017.0961941%207.40380592%207.19669914%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%20%20%20%20%3Cpolygon%20fill%3D%22%23ffffff%22%20fill-rule%3D%22nonzero%22%20points%3D%2216.5961941%207.19669914%206.69669914%2017.0961941%207.40380592%2017.8033009%2017.3033009%207.90380592%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
          }
        }
      }
    }
  }
  &-container {
    position: absolute;
    top: 30px;
    height: calc(100% - 30px);
    width: 100%;
  }
  &-sidebar {
    position: absolute;
    left: 0;
    width: 40px;
    height: 100%;
    box-sizing: border-box;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-app-region: drag;
    .group {
      width: 40px;
      -webkit-app-region: no-drag;
      span {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 20px;
        &:hover{
          background-color: #e2e2e2;
        }
      }
    }
  }
  &-main {
    position: absolute;
    left: 40px;
    height: 100%;
    width: calc(100% - 40px);
  }
}
